<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">
  <link rel="shortcut icon" href="images/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

  <section id="login">
      <img src="images/pre-login/banner-with-overlay.jpg" id="login-bg-img" alt="">

      <div id="login-content" style="margin-top: -80px;">
         
              <form action="http://localhost:8080/transactions" method="post">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" onclick="location.href = 'http://localhost:8080/transactions';" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size: 30px;">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="modal-img">
                        <img src="images/ERROR.png" alt="">
                      </div>
                      <div class="modal-main-heading">
                        <% for(let product in productList) { %>
                        <h2><%= productList[product].ProductName %> is out of stock!</h2>
                        <% } %>
                      </div>
                      <div class="modal-main-text">
                        <h3>Dear User,</h3><br>
                        <p>We are so sorry!</p>
                        <p>As this project works on Transaction Management 
                        You are a bit late to purchase your items.
                        Currently some items from your cart is out of stock.</p>
                        <p>We will let you know if any product of your cart will be in stock we will notify you.<br><br>Next time, Please do it in hurry</p>
                        <p style="margin-bottom: 0;">Have a good day.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
        
      </div>

  </section>
  
  <script src="js/jquery-3.5.1.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
</body>